form{
    color:rgba(213, 36, 48, 0.8);
    font-weight: bold;
}
label{
    color:rgba(213, 36, 48, 0.8);
    font-weight: bold;
}
div{
    margin-left: 0px;
    display:grid;
    place-items:center;
    width:450px;
}

fieldset {
    background-color: rgba(248, 243, 219, 0.57);
    margin-top: 5px;
    border: 2px solid goldenrod;
    border-radius: 5px;

}
footer {
    padding: 15px 0;
   background-color: rgba(0, 0, 0, 0.8);
   display:grid;
    place-items:center; 
   margin-top: 5px;
   width:460px;
}
caption{
    font-size: 18px;
    font-weight: bold;
    color:goldenrod;
    padding-top: 7px;
    padding-bottom: 7px;
}